<% if comment.persisted? %>

  <p>
    <strong><%= comment.commenter %></strong> says:
  </p>

  <p>
    <%= comment.body %>
  </p>

  <% if current_author == @post.author %>
    <p>
      <%= link_to 'delete comment', [comment.post, comment],
                  method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </p>
  <% end %>
<% end %>